{% extends 'base.html.twig' %}

{% block body %}
    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Password</th>
                <th>Email</th>

            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.UserName }}</td>
                    <td>{{ user.Password }}</td>
                    <td>{{ user.Email }}</td>
                    <td>

                        <a href="#" class='btn btn-default'>Edit</a>
                        <a href="#" class='btn btn-default'>Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
